/* Apply styling to the entire application */
.root {
    -fx-font-family: "Arial";
    -fx-background-color: #722F37;
    -fx-padding: 10;
}
#title{
    -fx-font-size: 25px;
        -fx-prompt-text-fill: #999999;
}
/* Apply styling to buttons */
.button {
    -fx-font-size: 18px;
        -fx-padding: 5 10;
        -fx-background-color: #4c81af; /* Background color */
        -fx-text-fill: white; /* Text color */

}

.button:hover {
    -fx-background-color: #10304d; /* Hover effect */
}

/* Apply styling to text fields */
.text-field {
    -fx-font-size: 18px;
    -fx-prompt-text-fill: #999999; /* Placeholder text color */
}

/* Apply styling to labels */
.label {
    -fx-font-size: 18px;

}
#mainTitle{
    -fx-font-family: "impact";
    -fx-font-size: 35px;

    -fx-text-fill: #FFFFFF /* Change the text color to red */
}

/* Apply styling to headings */
.heading {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* Apply styling to tables */
.table-view {
    -fx-font-size: 14px;
}

/* Apply styling to table headers */
.table-view .column-header-background {
    -fx-background-color: #0073e6;
    -fx-text-fill: white;
}

/* Apply styling to table rows */
.table-row-cell:odd {
    -fx-background-color: #f2f2f2;
}

/* Apply styling to menu items */
.menu-item {
    -fx-font-size: 14px;
}
/* Table Styles */
.table-view {
    -fx-table-cell-border-color: derive(-fx-base, 20%);
}

/* Table Header Styles */
.table-view .column-header-background {
    -fx-background-color: -fx-base;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: -fx-base;
    -fx-border-color: derive(-fx-base, 20%);
}

/* Table Row Styles */
.table-row-cell:odd {
    -fx-background-color: #f4f4f4; /* Alternate row color */
}

/* Hover Effect for Table Rows */
.table-row-cell:hover {
    -fx-background-color: #FFFFF0; /* Hovered row background color */
    -fx-text-fill: #FFFFFF; /* Hovered text color */
}

/* Selected Row Styles */
.table-row-cell:selected {
    -fx-background-color: #722F37; /* Selected row background color */
    -fx-text-fill: #FFFFFF; /* Selected text color */
}


/* Table Column Styles */
.table-column {
    -fx-alignment: CENTER;
    -fx-padding: 5px;
}

/* Add more styles based on your requirements */

